body {
  margin: 0;
  background: linear-gradient(120deg, #020617, #111827);
  color: white;
  font-family: Arial;
  min-height: 100vh;
}

header {
  padding: 40px;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  color: #22c55e;
  text-shadow: 0 0 20px rgba(34,197,94,0.6);
}

.albums {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  gap: 30px;
  justify-content: center;
  padding-bottom: 50px;
}

.album {
  background: rgba(31,41,55,0.9);
  padding: 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 25px rgba(34,197,94,0.15);
}

.album:hover {
  transform: translateY(-8px) scale(1.04);
  box-shadow: 0 0 40px rgba(34,197,94,0.5);
}

.album img {
  width: 100%;
  border-radius: 14px;
}

.album h3 {
  margin: 10px 0 4px;
}

.album span {
  color: #22c55e;
}
